<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.aark.order-alert</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/aark/Desktop/AARK ELECTRO TECH/order-alert.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/aark/Desktop/AARK ELECTRO TECH/orders</string>
    </array>
</dict>
</plist>
